body {
    background-color: #000000;
;

}

.telacapture {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin: 80px;
    left: 25%;
    top: 50%;
 /*   translate: (-30%, -50%);*/
    background: #F0F0F0;
    box-shadow: 4px 4px 4px 4px rgba(84, 68, 158, 0.25);
    width: 300px;
    height: 150px;
   border-radius: 12px;
    border-color: #1A4078;
        position: relative;

}

h1 {
    width: 300px;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    display: block;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    font-style: italic;
    margin-top: 5px;
    
}

.buton1 {
    box-sizing: border-box;

    width: 270px;
    height: 40px;
    left: 50px;
    top: 50px;
    margin-bottom: 10%;
    margin-top: 5px;
    background: #Ffff;
    border: solid 1px #1A4078;
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Arial';
    
}

.buton2 {

    width: 180px;
    height: 60px;
    background: #1A4078;
    border: 1px solid #1A4078;
    border-radius: 6px;
    font: 'Arial';
    color: #fff;
    font-size: 18PX;
    
}
